  <section id="header-wrapper" class="clearfix header-wrapper  search-hidden">
                  <header id="header" class="header-style02">
                     <!-- #top-bar-wrapper start -->
                     <div id="top-bar-wrapper" class="clearfix ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6 col-xs-9">
                              </div>
                              <!-- .col-md-6 end -->
                              <div class="col-md-6 col-xs-3">
                              </div>
                              <!-- .col-md-6 end -->
                           </div>
                           <!-- .row end -->
                        </div>
                        <!-- .container end -->
                     </div>
                     <!-- #top-bar-wrapper end -->
                     <div class="header-inner">
                        <!-- .container start -->
                        <div class="container">
                           <div class="main-nav">
                              <div class="row">
                                 <div class="col-md-12">
                                    <!-- .navbar.pi-mega start -->
                                    <nav class="navbar navbar-default nav-left pi-mega" role="navigation">
                                       <!-- .navbar-header start -->
                                       <div class="navbar-header">
                                          <!-- .logo start -->
                                          <div class="logo">
                                             <a href="/"><img src='../images/skywayslogo_new.png' alt='Skyways Air Services Limited' /></a>
                                          </div>
                                          <!-- logo end -->
                                       </div>
                                       <!-- Collect the nav links, forms, and other content for toggling -->
                                       <div class="collapse navbar-collapse">
                                          <ul id="menu-navigation" class="nav navbar-nav pi-nav menu">
                                             <li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020 dropdown"><a href="/">Home<span></span></a></li>
                                             <li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021 dropdown"><a href="/about-us/">About Us<span></span></a></li>
                                             <li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023 dropdown">
                                                <a href="/our-services" data-toggle="dropdown">Our Services<span></span></a>
                                                <ul class="dropdown-menu">
                                                   <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/air-freight">Air Freight</a></li>
                                                   <li id="menu-item-1104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104 dropdown"><a href="/contract-logistics">Contract Logistics</a></li>
                                                   <li id="menu-item-1127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127 dropdown"><a href="/cuddle">Cuddle</a></li>
                                                   <li id="menu-item-1131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131 dropdown"><a href="/d-tox">D-tox</a></li>
                                                   <li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102 dropdown"><a href="/warehousing">Warehousing</a></li>
                                                   <!--<li id="menu-item-1101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101 dropdown"><a href="/cold-storage">Cold Storage</a></li>-->
                                                </ul>
                                             </li>
                                             <li id="menu-item-1435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1435 dropdown">
                                                 <a href="/investors/">Investors</a><span></span></a>
                                               <!-- <ul class="dropdown-menu">
                                                   <li id="menu-item-1436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1436 dropdown">
                                                      <a href="#">Financial Results</a>
                                                      <ul class="dropdown-menu depth-1">
                                                         <li id="menu-item-1445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1445 dropdown"><a href="/board-report/">Board Report</a></li>
                                                         <li id="menu-item-1444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1444 dropdown"><a href="/balance-sheet/">Balance Sheet</a></li>
                                                         <li id="menu-item-1443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1443 dropdown"><a href="/form-aoc-4/">Form AOC-4</a></li>
                                                      </ul>
                                                   </li>
                                                   <li id="menu-item-1454" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1454 dropdown"><a href="/shareholding-pattern/">Shareholding Pattern</a></li>
                                                   <li id="menu-item-1457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1457 dropdown"><a href="/annual-return/">Annual Return</a></li>
                                                   <li id="menu-item-1456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1456 dropdown"><a href="/corporate-governance/">Corporate Governance</a></li>
                                                   <li id="menu-item-1455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1455 dropdown"><a href="/company-policies/">Company Policies</a></li>
                                                   <li id="menu-item-1458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1458 dropdown">
                                                      <a href="#">Offer Documents</a>
                                                      <ul class="dropdown-menu depth-1">
                                                         <li id="menu-item-1470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1470 dropdown"><a href="/drhp/">DRHP</a></li>
                                                         <li id="menu-item-1469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1469 dropdown"><a href="/rhp/">RHP</a></li>
                                                         <li id="menu-item-1468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1468 dropdown"><a href="/prospectus/">Prospectus</a></li>
                                                         <li id="menu-item-1649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1649 dropdown"><a href="/other-documents/">Other Documents</a></li>
                                                      </ul>
                                                   </li>
                                                   <li id="menu-item-1467" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1467 dropdown"><a href="/investor-enquiry/">Investor Enquiry</a></li>
                                                </ul>-->
                                             </li>
                                             <li id="menu-item-1433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433 dropdown"><a href="/board-of-directors/">Board of Directors<span></span></a></li>
                                             <li id="menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641 dropdown"><a href="/group-companies/">Group Companies<span></span></a>
											    <ul class="dropdown-menu desktopmenu">
                                                   <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/subsidiaries">Subsidiaries</a></li>
                                                  
                                                </ul>
											 
											 
											 </li>
                                             <li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022 dropdown"><a href="/contacts/">Contact Us<span></span></a></li>
                                             <li id="menu-item-1197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197 dropdown"><a target="_blank" href="https://track.skyways-group.com/index.php">Tracking<span></span></a></li>
                                          </ul>
                                       
                                          </div>
                                       </div>
                                       <!-- .navbar.navbar-collapse end --> 
                                    </nav>
                                    <!-- .navbar.pi-mega end -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>



                          <div class="menu_box">
                            <div id="mySidenav" class="sidenav menu_main">
                                <div class="closeee"><h5>Menu</h5><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>
                               <ul id="menu-navigation-1" class="menu dl-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020"><a href="/">Home</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href="/about-us/">About Us</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023">
                                                   <a href="javascript:void(0)">Our Services<i class="arrowMenu">&#9013;</i></a>
                                                   <ul class="dl-submenu">
												      <div class="backmenu"><h3 class="backsingle">Back</h3> <h5><a href="/our-services">Our Services</a> </h5></div>
													  
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/air-freight">Air Freight</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104"><a href="/contract-logistics">Contract Logistics</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"><a href="/cuddle">Cuddle</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"><a href="/d-tox">D-tox</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="/warehousing">Warehousing</a></li>
													 
                                                      <!--<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101"><a href="/cold-storage">Cold Storage</a></li>-->
                                                   </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1435">
                                                   <a href="/investors/">Investors</a>
                                                 
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433"><a href="/board-of-directors/">Board of Directors</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641"><a href="avascript:void(0)">Group Companies <i class="arrowMenu">&#9013;</i></a>
												
												    <ul class="dl-submenu">
												      <div class="backmenu"><h3 class="backsingle">Back</h3> <h5><a href="/group-companies/">Group Companies </a> </h5></div>
													       <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/subsidiaries">Subsidiaries</a></li>
													 
													  
                                                   </ul>
												
												
												</li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022"><a href="/contacts/">Contact Us</a><span></span></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197"><a target="_blank" href="https://track.skyways-group.com/index.php">Tracking</a><span></span></li>
                                             </ul>
                            </div>
                            <span class="menu_b" onclick="openNav()">&#9776;</span>
                        </div>



<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".menu_b").addEventListener("click", () => {
      document.getElementById("mySidenav").style.width = "100%";
    });

    document.querySelector(".closebtn").addEventListener("click", () => {
      document.getElementById("mySidenav").style.width = "0";
    });
  });
</script>

<!-- Your menu HTML goes here -->

<script is:inline>
  // Handle first-level menu items
  document.querySelectorAll(".menu_main > ul > li").forEach(function (item) {
    item.addEventListener("click", function (e) {
      e.stopPropagation();
      const dropdown = this.querySelector(".dl-submenu");
      if (!dropdown) return;

      const isOpen = dropdown.style.display === "block";

      // Close all submenus + sub-submenus
      document.querySelectorAll(".dl-submenu").forEach(dd => dd.style.display = "none");
      document.querySelectorAll(".dl-submenusub").forEach(dd => dd.style.display = "none");

      if (!isOpen) {
        dropdown.style.display = "block";
      }
    });
  });

  // Handle second-level menu items (inside dl-submenu)
  document.querySelectorAll(".menu_main > ul > li > ul > li").forEach(function (item) {
    item.addEventListener("click", function (e) {
      e.stopPropagation();
      const subDropdown = this.querySelector(".dl-submenusub");
      if (!subDropdown) return;

      const isOpen = subDropdown.style.display === "block";

      // Close all sub-submenus
      document.querySelectorAll(".dl-submenusub").forEach(dd => dd.style.display = "none");

      if (!isOpen) {
        subDropdown.style.display = "block";
      }
    });
  });

  // Prevent closing when clicking inside submenu or sub-submenu
  document.querySelectorAll(".dl-submenu, .dl-submenusub").forEach(function (submenu) {
    submenu.addEventListener("click", function (e) {
      e.stopPropagation();
    });
  });

  // Back buttons
  document.querySelectorAll(".backsingle").forEach(function (backItem) {
    backItem.addEventListener("click", function (e) {
      e.stopPropagation();
      const parentSubmenu = this.closest(".dl-submenu");
      if (parentSubmenu) {
        parentSubmenu.style.display = "none";
      }
    });
  });

  document.querySelectorAll(".backdouble").forEach(function (backItem) {
    backItem.addEventListener("click", function (e) {
      e.stopPropagation();
      const parentSubmenu = this.closest(".dl-submenusub");
      if (parentSubmenu) {
        parentSubmenu.style.display = "none";
      }
    });
  });

  // Clicking outside closes all
  document.addEventListener("click", function () {
    document.querySelectorAll(".dl-submenu, .dl-submenusub").forEach(dd => dd.style.display = "none");
  });
</script>



			  
                  </header>
               </section>
               <!-- #header-wrapper end -->
         
