<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
   <![endif]-->
   <!--[if IE 7]>
   <html id="ie7" lang="en-US">
      <![endif]-->
      <!--[if IE 8]>
      <html id="ie8" lang="en-US">
         <![endif]-->
         <!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
         <html lang="en-US">
            <!--<![endif]-->
            <head>
               <meta charset="UTF-8" />
               <meta name="viewport" content="width=device-width, initial-scale=1" />
               <title>Mr. Rajiv Gul Hariramani :: Whole-Time Director</title>
               <meta name='robots' content='max-image-preview:large' />
               <style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px; }.wpcp-carousel-section .wpcp-single-item{border:1px solid #ddd;}</style>
               <link rel='dns-prefetch' href='//fonts.googleapis.com' />
               <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
               <link rel='stylesheet' id='ht_ctc_main_css-css' href='../css/main.css' type='text/css' media='all' />
               <link rel='stylesheet' id='extendify-sdk-utility-classes-css' href='../css/extendify-utilities.css' type='text/css' media='all' />
               <link rel='stylesheet' id='contact-form-7-css' href='../css/styles.css' type='text/css' media='all' />
               <link rel='stylesheet' id='cma-frontend-css' href='../css/frontend.css' type='text/css' media='all' />
               <link rel='stylesheet' id='font-awesome-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='cma-animate-css-css' href='../css/animate.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='responsive-lightbox-swipebox-css' href='../css/swipebox/swipebox.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='tweetscroll-css' href='../css/tweetscroll.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='wpcf-slick-css' href='../css/slick.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='wp-carousel-free-fontawesome-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='wp-carousel-free-css' href='../css/wp-carousel-free-public.min.css' type='text/css' media='all' />
               <style id='wp-carousel-free-inline-css' type='text/css'>
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li button {
                  background-color: #cccccc;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li.slick-active button {
                  background-color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1305.nav-vertical-center {
                  padding: 0;
                  }
                  }#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li button {
                  background-color: #cccccc;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li.slick-active button {
                  background-color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1222.nav-vertical-center {
                  padding: 0;
                  }
                  }#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1173.nav-vertical-center {
                  padding: 0;
                  }
                  }
               </style>
               <link rel='stylesheet' id='cma-style-tooltip-css' href='../css/tooltips/css/hint.min.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='cma-styles-bootstrap-css' href='../css/bootstrap.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='volcanno-style-css' href='../css/theme-style.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='pixons-css' href='../css/style.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='linecons-css' href='../css/linecons.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='nivoslider-css' href='../css/nivo-slider.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='hint-css-css' href='../css/hint.min.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='owl-carousel-css' href='../css/owl.carousel.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='magnific-popup-css' href='../css/magnific-popup.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-google-fonts-css' href='//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200,100%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' type='text/css' media='all' />
               <link rel='stylesheet' id='volcanno-responsive-css' href='../css/responsive.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-retina-css-css' href='../css/retina.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-color-style-css' href='../css/color-default.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno_custom_css-css' href='../css/custom-styles.php' type='text/css' media='screen' />
               <link rel='stylesheet' id='ms-main-css' href='../css/masterslider.main.css' type='text/css' media='all' />
               <link rel='stylesheet' id='ms-custom-css' href='../css/custom.css' type='text/css' media='all' />
               <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" />
               <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" media="print" onload="this.media='all'">
               <noscript>
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" />
               </noscript>
               <script type="text/javascript" src="../js/jquery.min.js" id="jquery-core-js"></script>
               <script type="text/javascript" src="../js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
               <script type="text/javascript" src="../js/cma.frontend.min.js" id="cma-frontend-js"></script>
               <script type="text/javascript" src="../js/waypoints.min.js" id="cma-waypoints-js"></script>
               <script type="text/javascript" src="../js/jquery.stellar.min.js" id="cma-stellar-js"></script>
               <script type="text/javascript" src="../js/jquery.swipebox.min.js" id="responsive-lightbox-swipebox-js"></script>
               <script type="text/javascript" src="../js/underscore.min.js" id="underscore-js"></script>
               <script type="text/javascript" src="../js/infinite-scroll.pkgd.min.js" id="responsive-lightbox-infinite-scroll-js"></script>
               <script type="text/javascript" src="../js/front.js" id="responsive-lightbox-js"></script>
               <script type="text/javascript" src="../js/jquery.tweetscroll.js" id="tweetscroll-js"></script>
               <script type="text/javascript" src="../js/volcanno.functions.js" id="volcanno_functions-js"></script>
               <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
                  .page-title-style02{top: 90px;margin-bottom: 160px;}
               </style>
               <link rel="icon" href="../images/skywayslogo_new.png" sizes="32x32" />
               <link rel="icon" href="../images/skywayslogo_new.png" sizes="192x192" />
               <link rel="apple-touch-icon" href="../images/skywayslogo_new.png" />
               <meta name="msapplication-TileImage" content="../images/skywayslogo_new.png" />
               <style type="text/css" id="wp-custom-css">
                  .d-none{display:none;}
                  .image-background{height: 570px !important;}
                  .custom-heading h2{font-weight:500;}
                  .page-id-1291 .custom-heading02:after {display:none;}
                  #txtfs .textwidget p{font-size:24px!important;
                  font-weight:600;
                  color:#fac312;}
                  .contact-info-list li{background-image:none!important;}
                  #black-studio-tinymce-2 li{background-image:none!important;font-size:16px;}
                  #bbst{padding-top:0px!important;}
                  #sstop .service-box{padding-top:40px!important;}
                  .request_quote .input-group{width:100%;margin-bottom:15px;}
                  #bbst .hprqf h2{color:#ffffff;}
                  #bbst .hprqf .custom-heading:after{background-color: #ffffff;}
                  @media only screen 
                  and (min-device-width : 320px) 
                  and (max-device-width : 480px) {
                  #txtfs{background-size: cover!important;}
                  .dl-menuwrapper button{border-radius:0px!important;
                  -webkit-border-radius:0px!important;
                  -moz-border-radius: 0px!important;color: #333;padding-left: 25px!important;width:auto!important;}
                  }
               </style>
               <style id="volcanno_options-dynamic-css" title="dynamic-css" class="redux-options-output">.page-title-style02 h1,.page-title-style01 h1{color:#FFFFFF;}body{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}p{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}h1{font-family:"Titillium Web";line-height:48px;font-weight:300;font-style:normal;color:#333333;font-size:42px;font-display:swap;}h2{font-family:"Titillium Web";line-height:42px;font-weight:300;font-style:normal;color:#333333;font-size:36px;font-display:swap;}h3{font-family:"Titillium Web";line-height:24px;font-weight:400;font-style:normal;color:#333333;font-size:21px;font-display:swap;}h4{font-family:"Titillium Web";line-height:22px;font-weight:400;font-style:normal;color:#333333;font-size:18px;font-display:swap;}h5{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:16px;font-display:swap;}h6{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:15px;font-display:swap;}</style>
            </head>
            <body class="home wp-singular page-template-default page page-id-18 wp-theme-trucking wp-child-theme-trucking-child-theme  homepage content-maker _masterslider _msp_version_3.4.5">
               <!-- #header-wrapper start -->
               <section id="header-wrapper" class="clearfix header-wrapper  search-hidden">
                  <header id="header" class="header-style02">
                     <!-- #top-bar-wrapper start -->
                     <div id="top-bar-wrapper" class="clearfix ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6 col-xs-9">
                              </div>
                              <!-- .col-md-6 end -->
                              <div class="col-md-6 col-xs-3">
                              </div>
                              <!-- .col-md-6 end -->
                           </div>
                           <!-- .row end -->
                        </div>
                        <!-- .container end -->
                     </div>
                     <!-- #top-bar-wrapper end -->
                     <div class="header-inner">
                        <!-- .container start -->
                        <div class="container">
                           <div class="main-nav">
                              <div class="row">
                                 <div class="col-md-12">
                                    <!-- .navbar.pi-mega start -->
                                    <nav class="navbar navbar-default nav-left pi-mega" role="navigation">
                                       <!-- .navbar-header start -->
                                       <div class="navbar-header">
                                          <!-- .logo start -->
                                          <div class="logo">
                                             <a href="/"><img src='../images/skywayslogo_new.png' alt='Skyways Air Services Limited' /></a>
                                          </div>
                                          <!-- logo end -->
                                       </div>
                                       <!-- Collect the nav links, forms, and other content for toggling -->
                                       <div class="collapse navbar-collapse">
                                          <ul id="menu-navigation" class="nav navbar-nav pi-nav menu">
                                             <li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020 dropdown"><a href="/">Home<span></span></a></li>
                                             <li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021 dropdown"><a href="/about-us/">About Us<span></span></a></li>
                                             <li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1023 dropdown">
                                                 <a href="#">Services</a><span></span></a>
                                              <ul class="dropdown-menu">
                                                   <li id="menu-item-1436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1436 dropdown">
                                                      <a href="/our-services">Our Services</a>
                                                      <ul class="dropdown-menu depth-1">
                                                          <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/air-freight">Air Freight</a></li>
                                                   <li id="menu-item-1104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104 dropdown"><a href="/contract-logistics">Contract Logistics</a></li>
                                                   <li id="menu-item-1127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127 dropdown"><a href="/cuddle">Cuddle</a></li>
                                                   <li id="menu-item-1131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131 dropdown"><a href="/d-tox">D-tox</a></li>
                                                   <li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102 dropdown"><a href="/warehousing">Warehousing</a></li>
                                                      </ul>
                                                   </li>

                                                   
                                                  <!-- <li id="menu-item-1467" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1467 dropdown"><a href="//#">Subsidiaries Services</a></li>-->
                                                </ul>
                                             </li>
                                             <li id="menu-item-1435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1435 dropdown">
                                                 <a href="/investors/">Investors</a><span></span></a>
                                              
                                             </li>
                                             <li id="menu-item-1433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433 dropdown"><a href="/board-of-directors/">Board of Directors<span></span></a></li>
                                             <li id="menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641 dropdown"><a href="/group-companies">Group Companies<span></span></a>
											    <ul class="dropdown-menu desktopmenu">
                                                   
												   
												   <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/group-companies">Group Companies</a></li>
												   
												   <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/subsidiaries">Subsidiaries</a></li>
                                                  
                                                </ul>
											 </li>
                                             <li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022 dropdown"><a href="/contacts/">Contact Us<span></span></a></li>
                                             <li id="menu-item-1197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197 dropdown"><a href="/tracking">Tracking<span></span></a></li>
                                          </ul>
                                       
                                          </div>
                                       </div>
                                       <!-- .navbar.navbar-collapse end --> 
                                    </nav>
                                    <!-- .navbar.pi-mega end -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>



                          <div class="menu_box">
                            <div id="mySidenav" class="sidenav menu_main">
                                <div class="closeee"><h5>Menu</h5><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>
                               <ul id="menu-navigation-1" class="menu dl-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020"><a href="/">Home</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href="/about-us/">About Us</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023">
                                                   <a href="javascript:void(0)">Our Services<i class="arrowMenu">&#9013;</i></a>
                                                   <ul class="dl-submenu">
												      <div class="backmenu"><h3 class="backsingle">Back</h3> <h5><a href="/our-services">Our Services</a> </h5></div>
													  
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/air-freight">Air Freight</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104"><a href="/contract-logistics">Contract Logistics</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"><a href="/cuddle">Cuddle</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"><a href="/d-tox">D-tox</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="/warehousing">Warehousing</a></li>
                                                   </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1435">
                                                   <a href="/investors/">Investors</a>
                                                 
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433"><a href="/board-of-directors/">Board of Directors</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641"><a href="avascript:void(0)">Group Companies <i class="arrowMenu">&#9013;</i></a>
												
												    <ul class="dl-submenu">
												      <div class="backmenu"><h3 class="backsingle">Back</h3> <h5><a href="#">Group Companies </a> </h5></div>
													       
														   <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/group-companies">Group Companies</a></li>
														   
														   <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/subsidiaries">Subsidiaries</a></li>
													 
													  
                                                   </ul>
												
												
												</li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022"><a href="/contacts/">Contact Us</a><span></span></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197"><a href="/tracking">Tracking</a><span></span></li>
                                             </ul>
                            </div>
                            <span class="menu_b" onclick="openNav()">&#9776;</span>
                        </div>



<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".menu_b").addEventListener("click", () => {
      document.getElementById("mySidenav").style.width = "100%";
    });

    document.querySelector(".closebtn").addEventListener("click", () => {
      document.getElementById("mySidenav").style.width = "0";
    });
  });
</script>

<!-- Your menu HTML goes here -->

<script is:inline>
  // Handle first-level menu items
  document.querySelectorAll(".menu_main > ul > li").forEach(function (item) {
    item.addEventListener("click", function (e) {
      e.stopPropagation();
      const dropdown = this.querySelector(".dl-submenu");
      if (!dropdown) return;

      const isOpen = dropdown.style.display === "block";

      // Close all submenus + sub-submenus
      document.querySelectorAll(".dl-submenu").forEach(dd => dd.style.display = "none");
      document.querySelectorAll(".dl-submenusub").forEach(dd => dd.style.display = "none");

      if (!isOpen) {
        dropdown.style.display = "block";
      }
    });
  });

  // Handle second-level menu items (inside dl-submenu)
  document.querySelectorAll(".menu_main > ul > li > ul > li").forEach(function (item) {
    item.addEventListener("click", function (e) {
      e.stopPropagation();
      const subDropdown = this.querySelector(".dl-submenusub");
      if (!subDropdown) return;

      const isOpen = subDropdown.style.display === "block";

      // Close all sub-submenus
      document.querySelectorAll(".dl-submenusub").forEach(dd => dd.style.display = "none");

      if (!isOpen) {
        subDropdown.style.display = "block";
      }
    });
  });

  // Prevent closing when clicking inside submenu or sub-submenu
  document.querySelectorAll(".dl-submenu, .dl-submenusub").forEach(function (submenu) {
    submenu.addEventListener("click", function (e) {
      e.stopPropagation();
    });
  });

  // Back buttons
  document.querySelectorAll(".backsingle").forEach(function (backItem) {
    backItem.addEventListener("click", function (e) {
      e.stopPropagation();
      const parentSubmenu = this.closest(".dl-submenu");
      if (parentSubmenu) {
        parentSubmenu.style.display = "none";
      }
    });
  });

  document.querySelectorAll(".backdouble").forEach(function (backItem) {
    backItem.addEventListener("click", function (e) {
      e.stopPropagation();
      const parentSubmenu = this.closest(".dl-submenusub");
      if (parentSubmenu) {
        parentSubmenu.style.display = "none";
      }
    });
  });

  // Clicking outside closes all
  document.addEventListener("click", function () {
    document.querySelectorAll(".dl-submenu, .dl-submenusub").forEach(dd => dd.style.display = "none");
  });
</script>


                  </header>
               </section>
               <!-- #header-wrapper end -->
               <!-- .page-title start -->
               <div class="page-title-style02 " style='background-image: url(../images/services-banner.jpg) !important;'>
                  <div class="pt-mask pt-title"></div>
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1>MR. RAJIV GUL HARIRAMANI</h1>
                           <p style="color: #d9d5d5;">WHOLE-TIME DIRECTOR</p>
                        </div>
                        <!-- .col-md-6 end -->
                        
                        <!-- .col-md-6 end -->
                     </div>
                     <!-- .row end -->
                  </div>
                  <!-- .container end -->
               </div>
               <!-- .page-title-style01.page-title-negative-top end -->
               <section class='page-content' style=''  >
                  <section class='container'>
                     <div class='row' style=''>
                        <div class='col-md-12 ' style='' >
                           <div style='margin-bottom: 30px;' class=''>
                              <div class='cma-wysiwyg-editor'>

<div class="profileDirector">
    <div class="profileDirector1">
        <p style="text-align: justify;">Rajiv Gul Hariramani is the Whole-Time Director of our Company. He completed his diploma course in
Hotel Management from National Council for Hotel Management and Catering Technology, New Delhi.</p>
<p style="text-align: justify;">Earlier he worked with Prudential Shipping Agencies Private Limited as Commercial Manager-India for
the Airfreight Division from 2005 to 2007 and Durga Hotels & Resorts Private Limited as Chief Executive
Officer from 2007 to 2009.</p>
<p style="text-align:justify;">He joined our Company in 2009 as Regional Manager (Western Region) and
appointed as the Director in 2022. He has an overall experience of around 20 years in the freight
forwarding industry and his strong ability to forecast business trends in air freight has been a strong
point for Skyways Group to enter into special contracts with the Airlines.</p>
    </div>
    <div class="profileDirector2">
        <img src='../images/Rajiv-Hariramani.jpg' alt="">
	<p class="titles"><strong>MR. RAJIV GUL HARIRAMANI</strong></p>
        <p>WHOLE-TIME DIRECTOR</p>
    </div>

  
</div>
	 	
      




	</div>
								 
								 
								 
								 
                                 <br />
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  
                  </section>
               </section>
               <!-- footer wrapper start -->
               <section id="footer-wrapper" class="footer-dark">
                <footer id="footer">
                     <!-- .container start -->
                     <div class="container">
                        <!-- .row start -->
                        <div class="row">
                           <!-- animated fadeInTop -->
                           <section >
                              <ul class="footer-widget-container col-md-3">
                                 <li id="media_image-2" class="widget widget_media_image"><img src="../images/skywayslogo_new.png" /></li>
                                 <li id="text-2" class="widget widget_text">
                                    <div class="ftlogotext">
                                     <h5> Skyways Air Services Limited</h5>
									  <p> (Formerly Known as Skyways Air Services Private Limited) </p>
                                    </div>
									 
									 
									 
                                 </li>
                              </ul>
                              <ul class="footer-widget-container col-md-2">
                                 <li id="nav_menu-1" class="widget widget_nav_menu">
                                    <div class="title">
                                       <h3>OUR SERVICES</h3>
                                    </div>
                                    <div class="menu-our-services-container">
                                       <ul id="menu-our-services" class="menu">
                                          <li id="menu-item-824" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-824"><a href="/air-freight">Air Freight</a></li>
                                          <li id="menu-item-823" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-823"><a href="/contract-logistics">Contract Logistics</a></li>
                                          <li id="menu-item-822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-822"><a href="/cuddle">Cuddle</a></li>
                                          <li id="menu-item-1137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1137"><a href="/d-tox">D-tox</a></li>
                                          <li id="menu-item-825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-825"><a href="/warehousing">Warehousing</a></li>
                                         <!-- <li id="menu-item-1136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1136"><a href="/cold-storage">Cold Storage</a></li>-->
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
							  
							  
						
							  
							  
							  
							  
                              <ul class="footer-widget-container col-md-3">
                                 <li id="volcanno_contact_info-2" class="widget contact-info">
                                    <div class="title">
                                       <h3>GET IN TOUCH</h3>
                                    </div>
                                    <address>
                                       <ul class='contact-info-list'>
                                          <li>                        
                                             <i class='fa fa-home'></i><strong>Regd. Address:</strong><br/>RZ A -128 & 129, Mahipalpur Extension NH-8, New Delhi - 110037, India                      
                                          </li>
                                          <li>                       
                                             <i class='fa fa-envelope-o'></i>
                                             <a href="mailto:info@skyways-group.com"><span class="mail_span">info@skyways-group.com</span></a>                        
                                          </li>
										  <li>                       
                                             <i class='fa fa-phone'></i>
                                             <a href="tel: 01145150500"><span class="mail_span">011 4515 0500</span></a>                        
                                          </li>
                                       </ul>
                                    </address>
                                 </li>
                              </ul>
							  
							  	   <ul class="footer-widget-container col-md-2">
                                 <li id="nav_menu-1" class="widget widget_nav_menu">
                                    <div class="title">
                                       <h3>Other Links</h3>
                                    </div>
                                    <div class="menu-our-services-container">
                                       <ul id="menu-our-services" class="menu">
									    <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/careers">Careers</a></li>
									   <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/awards">Awards</a></li>
									   <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/press-release">Press Release</a></li>
									 <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/photo-gallery">Photo Gallery</a></li>
                                          
                                 
									   
									   
									   
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
							  
                              <ul class="footer-widget-container col-md-2">
                                 <li id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
                                    <div class="title">
                                       <h3>Follow Us on</h3>
                                    </div>
                                    <div class="textwidget">
                                       <ul>
                                          <li><a href="https://www.facebook.com/skywayslogisticsgroup/" target="_blank" class="social-facebook" rel="noopener"><i class="fa fa-facebook"></i></a></li>
                                          <li><a href="https://www.linkedin.com/company/33243275/" target="_blank" class="social-linkedin" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                           </section>
                        </div>
                        <!-- .row end -->
						
								  <div class="ntop">
          <a href="#top">
            <div class="circleTop"></div>

            <img src="images/top_arrow.png" alt="" class="img-fluid">
          </a>
						
						
                     </div>
                     <!-- .container end -->                
                  </footer>
                  <!-- .footer-end -->
                  <!-- copyright container start -->
                  <section id="copyright-container" class="copyright-container">
                     <!-- .container start -->
                     <div class="container">
                        <!-- .row start -->
                        <div class="row">
                           <section class="col-md-6">
                              <p>© Skyways Air Services Limited. All Rights Reserved.
                              </p>
                           </section>
                           <section class="col-md-6 copyright-right">
                              <p>
                                 Design and Developed by sGate Tech Solutions Private Limited.
                              </p>
                           </section>
                           <!-- .col-md-6 omega end -->        
                        </div>
                        <!-- .row end -->
                     </div>
                     <!-- .container end -->
                  </section>
                  <!-- .copyright-container end -->
               </section>
               <!-- .footer-wrapper end -->
               <a href="#" class="scroll-up">Scroll</a>
               <div class="clear"></div>
               
               <link rel='stylesheet' id='responsive-lightbox-gallery-css' href='/css/gallery.css' type='text/css' media='all' />
               <style id='responsive-lightbox-gallery-inline-css' type='text/css'>
                  :root {
                  --rl-gallery-background_color: #000000;
                  --rl-gallery-background_opacity: 0.8;
                  --rl-gallery-border_color: #000000;
                  --rl-gallery-title_color: #ffffff;
                  --rl-gallery-caption_color: #cccccc;
                  }
                  .rl-gallery .rl-gallery-link {
                  border: 0px solid #000000;
                  }
                  .rl-gallery .rl-gallery-link .rl-gallery-item-title {
                  color: #ffffff;
                  }
                  .rl-gallery .rl-gallery-link .rl-gallery-item-caption {
                  color: #cccccc;
                  }
                  .rl-gallery .rl-gallery-link .rl-gallery-caption,
                  .rl-gallery .rl-gallery-link:after {
                  background-color: rgba( 0,0,0, 0.8 );
                  }
                  [class^="rl-hover-icon-"] .rl-gallery-link:before,
                  [class*=" rl-hover-icon-"] .rl-gallery-link:before {
                  color: #ffffff;
                  background-color: rgba( 0,0,0, 0.8 );
                  }
               </style>
               <link rel='stylesheet' id='responsive-lightbox-basicgrid-gallery-css' href='../css/gallery-basicgrid.css' type='text/css' media='all' />
               <style id='responsive-lightbox-basicgrid-gallery-inline-css' type='text/css'>
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(33.33% - 2px);
                  margin: 1px;
                  }
                  @media all and (min-width: 1200px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(25% - 2px);
                  }
                  }
                  @media all and (min-width: 992px) and (max-width: 1200px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(33.33% - 2px);
                  }
                  }
                  @media all and (min-width: 768px) and (max-width: 992px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(50% - 2px);
                  }
                  }
                  @media all and (max-width: 768px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(100% - 2px);
                  }
                  }
               </style>
               <script type="text/javascript" src="../js/app.js" id="ht_ctc_app_js-js"></script>
               <script type="text/javascript" src="../js/wp-polyfill.min.js" id="wp-polyfill-js"></script>
               <script type="text/javascript" src="../js/index.js" id="contact-form-7-js"></script>
               <script type="text/javascript" src="../js/jquery.plugins.min.js" id="volcanno_jquery_plugins-js"></script>
               <script type="text/javascript" src="../js/jquery.dlmenu.min.js" id="dl-menu-js"></script>
               <script type="text/javascript" src="../js/jquery.matchHeight-min.js" id="match-heights-js"></script>
               <script type="text/javascript" src="../js/include.js" id="volcanno_include-js"></script>
               <script type="text/javascript" src="../js/services.js" id="cma-scripts-services-js"></script>
               <script type="text/javascript" src="../js/owl.carousel.min.js" id="owl-carousel-js"></script>
               <script type="text/javascript" src="../js/services_1.js" id="cma-scripts-services-1-js"></script>
               <script type="text/javascript" src="../js/jquery.easing.min.js" id="jquery-easing-js"></script>
               <script type="text/javascript" src="../js/masterslider.min.js" id="masterslider-core-js"></script>
               <script type="text/javascript" src="../js/slick.min.js" id="wpcf-slick-js"></script>
               <script type="text/javascript" src="../js/wp-carousel-free-public.min.js" id="wpcf-slick-config-js"></script>
               <script type="text/javascript" src="../js/preloader.min.js" id="wpcp-preloader-js"></script>
            </body>
         </html>
